<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lockout_Sentinel_by_Brandon.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Lockout_Sentinel_by_Brandon.My.MySettings>
            <setting name="user" serializeAs="String">
                <value />
            </setting>
            <setting name="pass" serializeAs="String">
                <value />
            </setting>
            <setting name="admin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="domain" serializeAs="String">
                <value />
            </setting>
            <setting name="dc" serializeAs="String">
                <value />
            </setting>
            <setting name="lockout_pass" serializeAs="String">
                <value />
            </setting>
            <setting name="start_time" serializeAs="String">
                <value>00:00</value>
            </setting>
            <setting name="end_time" serializeAs="String">
                <value>23:59</value>
            </setting>
            <setting name="week" serializeAs="String">
                <value>1111111</value>
            </setting>
            <setting name="border" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="flash_count" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="smtp_host" serializeAs="String">
                <value />
            </setting>
            <setting name="smtp_port" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="smtp_username" serializeAs="String">
                <value />
            </setting>
            <setting name="smtp_password" serializeAs="String">
                <value />
            </setting>
            <setting name="to_email" serializeAs="String">
                <value />
            </setting>
            <setting name="send_email" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tls" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="smtp_email" serializeAs="String">
                <value />
            </setting>
            <setting name="refresh" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="advanced" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NeedsUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
        </Lockout_Sentinel_by_Brandon.My.MySettings>
    </userSettings>
</configuration>
